<header>
    <nav>
        <ul>
            <li>About</li>
            <li>Table</li>
        </ul>
    </nav>
</header>
<body>
    <h1>Blackjack</h1>
    <h2>2240004</h2>
    <section>
        <h2>About Blackjack</h2>
    </section>
    <section>
        <h2>Rules</h2>
    </section>
</body>
<footer>Classy Development &copy;</footer>
